fastapi
uvicorn
pydantic
pandas
numpy
scikit-learn
xgboost
statsbombpy
shap
joblib
matplotlib
python-dotenv
openai
lifelines
streamlit
plotly
rapidocr-onnxruntime==1.2.3
Pillow
python-multipart
python-docx
pdfplumber
pytesseract==0.3.13
ultralytics
opencv-python-headless
scipy
